.jumbotron 
{
    background-color:blueviolet !important;
    color: white !important
}
.lightPurple{
    background-color: rgb(209,196,233);
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.bg-gold{
    background-color:gold
}
.btn-gold{
    color: black;
    background-color: gold;
    border-color: gold;
}
.navbar-dark {
     background-color: #512DA8;
}
.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}